@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Montserrat:wght@300&display=swap');

/* $barlow-condensed: font-family: 'Barlow Condensed', sans-serif; */
/* $montserrat: font-family: 'Montserrat', sans-serif; */

:root {
  --barlow-condensed: 'Barlow Condensed', sans-serif;
  --montserrat: 'Montserrat', sans-serif;
  --burgundy: #99334d;
  --black: #111111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--barlow-condensed);
  color: white;
}

body {
  text-transform: capitalize;
  margin: 0;
  font-family: var(--montserrat);
  background-color: var(--black);
}

a, ul {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 25%;
  li {
    padding-top: 12px;
  }
}

a, .logo p {
    color: var(--burgundy);
    font-weight: bold;
}

a {
  &:hover {
    opacity: .7;
  }
}

.logo {
  margin: .5rem 1rem;
  h1 {
    font-size: 2rem;
    transform: skewX(-10deg);
  }

  h1, p {
    margin: 0;
  }
}

 .navbar {
   border-bottom: 2px solid var(--burgundy);
   div {
     width: 100%;
     display: flex;
   }

   .logo-links {
     justify-content: space-between;
   }

   .user-location {
    justify-content: flex-start;
    padding: .5rem 0 .3rem .9rem;
    color: var(--burgundy);
    h3 {
      margin: 0;
    }
   }
 }
